body {
  font: 300 36px "Helvetica Neue";
  height: 640px;
  /*margin: 80px 160px 80px 160px;*/
  /*width: 960px;*/
  font-size: 14px;
}

a:link, a:visited {
  color: #777;
  text-decoration: none;
}

a:hover {
  color: #666;
}

blockquote {
  margin: 0;
}

blockquote:before {
  content: "“";
  left: -.4em;
}

blockquote:after {
  content: "”";
}

body > ul {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 64px;
}

h1, h2, h3 {
  font-weight: inherit;
  margin: 0;
}

h2, h3 {
  font-size: inherit;
}

h2 {
  font-size: 24px;
}

h3 {
  bottom: -20px;
  font-size: 18px;
}

.invert {
  background: #1f1f1f;
  color: #dcdccc;
}

.invert h2, .invert h3 {
  color: #7f9f7f;
}

.string, .regexp {
  color: #f39;
}

.keyword {
  color: #00c;
}

.comment {
  color: #777;
  font-style: oblique;
}

.number {
  color: #369;
}

.class, .special {
  color: #1181B8;
}

/*
body > svg {
  position: absolute;
  top: -80px;
  left: -160px;
}*/

.chart {
  position: relative;
  float: left;
  width: 49% !important;
  max-width: 49%;
}

.table {
  position: relative;
  float: left;
  right: 0;

  width: 44% !important;
  height: 500px;
  overflow: auto;
  margin-top: 3%;
  margin-left: 5%;
  max-width: 49%;
}

.group {
  position: relative;
  width: 100%;

  float: left;
}

ul
{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
ul li
{
  background-image: url(sqpurple.gif);
  background-repeat: no-repeat;
  background-position: 0px 5px; 
  padding-left: 14px; 
}
